.joke-card {
  margin: 0 auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid #e6e6e6;
  background-color: #f8f8f8;
  width: 600px;
  height: 200px;
}

.joke {
  font-size: 20px;
}
